@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    background-color: ;
    color: var(--darktextcolor--);
}

:root{
    --darkmainbgcolor--:#000000;
    --darkmodebgcolor--:#0d1013;
    --lightmainbgcolor--:#b8b2a6;
    --lightmodebgcolor--:#fdfdfd;
    --darktextcolor--:#fdfdfd;
    --lighttextcolor--:#060608;
    --lightfaceIconcolor:#3b5998;
    --lightfaceIconcolor:#033fff;
}

.container {
    background-color: var(--darkmainbgcolor--);
    width: 30rem;
    height: 2000vh;
    margin: auto;
}

.heading {
    background-color: var(--darkmodebgcolor--);
     position: sticky;
        top: 0;
        z-index: 20;
        /* overflow: hidden; */
}

.heading .navbar-brand {
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    /* background-color: yellow; */
    /* padding-bottom: 6px;
    padding-top: 6px; */
    /* position: fixed;
    z-index: 3; */
    justify-content: space-between;
}

.heading .navbar-brand .brandname {
    margin-left: 27px;
}

.heading .navbar-brand .brandname a i {
    font-size: 2rem;
}

.heading .navbar-brand .brandname span {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 25px;
}

.heading .navbar-brand .icons {
    display: flex;
    width: 9.8rem;
    margin-right: 25px;
    justify-content: space-between;
}

.heading .navbar-brand .icons span {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: rgb(128, 128, 128 , .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.heading .navbar-brand .icons span i {
    font-size: 1.5rem;
}

.heading .navbar-icons {
    display: flex;
    margin: auto;  
    width:100%; 
    cursor: pointer;
     /* margin-top: 15px; */
     align-items: center;
    justify-content: space-around;
    /* background-color: yellow; */
    height: 3.5rem;
    /* padding-bottom: 10px; */
    border-bottom: .5px solid rgb(146, 146, 146);
    /* position: sticky; */
    /* z-index: 4; */
    /* overflow: hidden; */
    /* background-color: var(--darkmodebgcolor--); */
    /* position: fixed; */
    /* top: 0; */

}

.heading .navbar-icons a i {
    font-size: 2rem;
    color:rgb(158, 158, 158);
}

.heading .navbar-icons a {
    display: inline-block;
    height: 100%;
    width: 4.89rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}



.heading .navbar-icons a:hover{
    background-color: rgb(139, 139, 139);
    
}

.heading .navbar-icons .active{
   
    border-bottom: 2px solid #033fff;
}

.heading .navbar-icons a .bxs-home{
    color: #033fff;
}

.newfeed {
    width: 100%;
    height: 2000vh;
    overflow: hidden;
}

.newfeed .create-post{
    width: 100%;
    height: 70px;
    background-color:var(--darkmodebgcolor--);
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* position: relative; */
    
}

.newfeed .create-post .post-btn {
    width: 300px;
    height: 2.5rem;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    
    /* position: absolute; */

}

.newfeed .create-post .post-btn span {
    padding-left: 1.5rem;
    color: var(--darktextcolor--);
}

.newfeed .create-post .post-btn:hover{
    transform: scale(.999);
    background-color:  rgba(255, 255, 255, 0.363);
    border: 1.5px solid rgb(109, 108, 108);
}

.newfeed .create-post .wall-propic {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    cursor: pointer;
    
}

.newfeed .create-post .wall-propic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .2s;

}

.newfeed .create-post .wall-propic img:hover{
    transform: scale(0.9);
    filter: brightness(1.1);
}

.newfeed .create-post .choose-photo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    /* background-color: yellow; */
    /* border: 1px solid red; */
}

.newfeed .create-post .choose-photo i {
    font-size: 1.5rem;
    color: rgb(18, 180, 18);
    
}

.newfeed .create-post .choose-photo:hover{
    background-color: rgba(255, 255, 255, 0.363);
}

.newfeed .story {
    width: 100%;
    height: 13rem;
    background-color: var(--darkmodebgcolor--);
    margin: .5rem 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
    /* overflow: hidden; */
    /* background-color: yellow; */
    /* position: relative; */
    
}


.newfeed .story .create-story, .other-story {
    min-width: 6rem;
    height: 10.5rem;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color:  rgba(51, 52, 54, 0.295);
    /* background-color:rgba(73, 73, 73, 0.137); */
}

.newfeed .story .create-story img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    
   
}

.newfeed .story .other-story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newfeed .story .create-story .add .bx {
    background-color:#033fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  rgb(51, 52, 54);
    width: 35px;
    height: 35px;
    /* padding: 15px; */
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 34%;

}

.newfeed .story .create-story .cap {
    font-size: 9.3px;
    position: absolute;
    top: 90%;
    right: 20%;

    
}

.newfeed .story .other-story .propic {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 4%;
    left: 6%;
    overflow: hidden;
    border: 2.5px solid #033fff;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.newfeed .story .other-story .propic img {
    /* object-fit: cover; */
    width: 34px;
    height: 34px;
    border-radius: 50%;    

}

.newfeed .story .other-story .accname {
    font-size: 9.3px;
    position: absolute;
    top: 90%;
    left: 10%;
}



